<div class="nav-wrapper">
    <div class="row">
    <div class="image nav-item">
        <img src="/public/assets/img/logo2.png" alt="Logo">
    </div>
   
    <ul class ="category-list nav-item">
    <li><button class="btn btn-default homeBtn">Home</button></li>
    <li><button class="btn btn-default get-saved-btn">Saved Articles</button></li>
    {{# each categories}}
    <li><button class="btn btn-default categoryBtn" data-category="{{title}}">{{title}}</button></li>
    {{/each}}
    {{#each countries}}
    <li>{{title}}</li>
    {{/each}}
    </ul>

    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Select a Country</a>

  <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">United States</a></li>
        <li><a href="#!">Wherever</a></li>     
    </div>

    <div class="row">
    <div class="searchBar">
        <div class="search-item">
        <input  type="text" id="search" placeholder="Search the news">
        </div>
        <div class="search-item">
        <input  id="search-button" type="submit" id="btn btn-default" class="btn btn-default">
        </div>
    </div>
    </div>
</div>

<!-- <div class="nav">
    <button class="homeBtn">Home</button>
    <button type="button" class="btn btn-default" id="logout">Logout</button>
    {{#each categories}}
    <button class="categoryBtn" data-category="{{title}}">{{title}}</button>
    {{/each}}
    <input type="text" id="search" placeholder="Search the news"><input type="submit" id="searchBtn" class="searchBtn">
</div> -->