<div id="article-container">
    <ul>
        {{#each articles}}
        <li class="articleList">

            <div class="article">

                <h2 class="title">{{ title }}</h2>
                <h4 class="author">{{author}}</h4>
                <button class="saveBtn" data-id={{apiId}}>Save Article</button>
                <a class="url" target="_blank" href={{ url}}>Link To Story</a>
            </div>
            <img class="urlToImage" src={{ urlToImage }}>

        </li>
        {{/each}}
    </ul>
</div>